<html>
    <head>
        <style>
           body {
             color: black;
             font-family: sans-serif;
           }
        </style>
    </head>
    <body>
        <h1>Welcome</h1>

        <p>Thanks for signing up and such...</p>

        <p>
            Your Email: {{email}}
        </p>
    </body>
</html>
