<html>
    <head>
        <style>
           body {
             color: black;
             font-family: sans-serif;
           }
        </style>
    </head>
    <body>
        <h1>Reset your password</h1>

        <p>Provide code or use link.</p>


        <p>
            Code: {{code}}
        </p>
        <p>
            Link: {{link}}
        </p>
    </body>
</html>
