<html>
    <head>
        <style>
           body {
             color: black;
             font-family: sans-serif;
           }
        </style>
    </head>
    <body>
        <h1>Verify email adress</h1>

        <p>Verify your email with code or link.</p>

        <p>
            Code: {{code}}
        </p>
        <p>
            Link: {{link}}
        </p>
    </body>
</html>
