<html>
    <head>
        <style>
           body {
             color: black;
           }
        </style>
    </head>
    <body>
        <h1>You Node mailer is working</h1>
        <p>
            Your Name: {{name}}
            <br/>
            Your Email: {{email}}
        </p>

    </body>
</html>
